{% extends "::base.html.twig"%}
{% block stylesheets %}
{#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/login/css/style.css') }}"/>#}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/login/bootstrap/css/bootstrap.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/login/bootstrap/css/bootstrap-theme.css') }}"/>
{%endblock%}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/login/bootstrap/js/bootstrap.js')}}"></script>
{% endblock %}
{% block body %}

<div id="header">
{%block header%}
    <div id="loginBar">
    {% include "LoginBundle:Default:loginBar.html.twig" %}
    </div>
{% endblock %}
</div>

<div id="content">
{% block content %}

{% endblock %}
</div>

<div id="footer">
{% block footer %}

{% endblock %}
</div>

{% endblock %}