{% extends "::base.html.twig"%}
{% block javascripts %}
<script src="{{ asset('bundles/tcdemployeesmanager/fuelux/fuelux-master/dist/loader.min.js') }}" type="text/javascript"></script>

<script src="{{ asset('bundles/tcdemployeesmanager/js/employeesDataSource.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/tcdemployeesmanager/js/initGrid.js') }}" type="text/javascript"></script>
{% endblock %}
{% block stylesheets %}
<link href="{{asset('bundles/tcdemployeesmanager/fuelux/fuelux-master/dist/css/fuelux.min.css')}}" rel="stylesheet" />
<link href="{{asset('bundles/tcdemployeesmanager/fuelux/fuelux-master/dist/css/fuelux-responsive.min.css')}}" rel="stylesheet" />
<link href="{{ asset('bundles/tcdemployeesmanager/css/tcdemployeesmanager.css') }}" rel="stylesheet"/>
{%endblock%}
{% block body %}

<div id="header">
{%block header%}
    <div id="loginBar">
    {% include "TCDEmployeesManagerBundle:Default:loginBar.html.twig" %}
    </div>
{% endblock %}
</div>

<div id="content">
{% block content %}

{% endblock %}
</div>

<div id="footer">
{% block footer %}

{% endblock %}
</div>

{% endblock %}