{% block addUser %}
<div id="addUserForm" style="display:none">

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                <input type="text" id="inputEmail" placeholder="Email">
            </div>
        </div>
        
        
    </form>
</div>

<div id="prompt" style="display:none">

</div>
{% endblock %}
