{% extends "TCDEmployeesManagerBundle:Default:base.html.twig"%}

{% block content %}
<h2>Employees Manager </h2>
<div id="userTable">

    <!-- DataGrid -->
    <table id="MyGrid" class="table table-bordered datagrid">
        <thead>
            <tr>
                <th>
                    <span class="datagrid-header-title">Search employees</span>
        <div class="datagrid-header-left"></div>
        <div class="datagrid-header-right">
            <div class="input-append search">
                <input type="text" class="input-medium" placeholder="Search"><button class="btn"><i class="icon-search"></i></button>
            </div>
        </div>
        </th>
        </tr>
        </thead>

        <tfoot>
            <tr>
                <th>
        <div class="datagrid-footer-left" style="display:none;">
            <div class="grid-controls">
                <span><span class="grid-start"></span> - <span class="grid-end"></span> of <span class="grid-count"></span></span>
                <select class="grid-pagesize"><option>10</option></select>
                <span>Per Page</span>
            </div>
        </div>
        <div class="datagrid-footer-right" style="display:none;">
            <div class="grid-pager">
                <button class="btn grid-prevpage"><i class="icon-chevron-left"></i></button>
                <span>Page</span>
                <div class="input-append dropdown combobox">
                    <input class="span1" type="text">
                </div>
                <span>of <span class="grid-pages"></span></span>
                <button class="btn grid-nextpage"><i class="icon-chevron-right"></i></button>
            </div>
        </div>
        </th>
        </tr>
        </tfoot>
    </table>
    <!-- END DATAGRID MARKUP -->


</div>

<button id="add-user" class="btn btn-primary">
    <i class="icon-user icon-white"></i> Add user
</button>
<input type="button" class="btn" id="datagrid-reload" value="reload">

        {% include "TCDEmployeesManagerBundle:Default:employeeForm.html.twig" %}

{% endblock %}

