<!DOCTYPE html>
<html class="fuelux">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{asset('css/mainstyle.css')}}"/>
        <link rel="stylesheet" href="{{asset('css/smoothness/jquery-ui-1.10.4.custom.min.css')}}"/>

        
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/jquery-ui-1.10.4.custom.min.js') }}"></script>
        <script src="{{ asset('js/h5Validate-master/jquery.h5validate.js') }}"></script>
        <script type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {%block body %}

        {% endblock %}
    </body>
</html>
