/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-02-19, 18:30:58
    Author     : thecyberd3m0n
*/

#content {
    width:800px;
    margin-left: auto;
    margin-right: auto;
}