/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-02-18, 15:47:29
    Author     : thecyberd3m0n
*/

#loginBar {
    height:30px;
    width:100%;
    background-color: grey;
    text-align: right;
    color:white;
}